<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="closeModal()">
    <ion-fab-button size="small">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="toolbar">
        <ion-icon name="add"></ion-icon>
        <h1>
          Add Medication
        </h1>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="form">
    <div class="curve-top"></div>

    <div>
      <label>Medication</label>
      <input [(ngModel)]="newAlarm.Title" placeholder="Vitamin C"/>
    </div>

    <div>
      <label>Time</label>
      <ion-datetime [(ngModel)]="newAlarm.Time" displayFormat="hh:mmA" placeholder="8:00am"></ion-datetime>
    </div>

    <div class="mt-3">
      <label>Weekdays</label>
      <ion-list>
        <ion-item *ngFor="let entry of weekdays">
          <ion-label>{{entry.title}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

   

    <div class="validation-messages">
      <p *ngFor="let message of validationMessages">{{message}}</p>
    </div>

    <button (click)="saveAlarm()" style="margin-top: 15px;">Save</button>
  </div>
</ion-content>