#container{
    background: pink;
    border-radius: 24px 24px 0px 0px;
}

.form{
    .curve-top{
        top: 0px;
        height: 30px;
    }
    
    padding: 40px;
    margin-top: -80px;

    input{
        margin-bottom: 20px;
        margin-top: 5px;
    }
}

ion-header{
padding-bottom: 50px;

    ion-toolbar{
        padding-bottom: 50px;
    }
}