/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// https://ionicframework.com/docs/theming/css-variables

ion-header{
    --ion-background-color: #7210FF;
    --ion-text-color: white;
    // background: #7210FF;
    color: white;
    text-align: center;
    ion-title{
        font-size: 37px;
        line-height: 55px;
    }
}


:root {
    /* Set the background of the entire app */
    --ion-background-color: #EAE8FE;
  }

  .native-input{
      padding: 10px 0px !important;
  }

  .ion-page{
    --ion-background-color: #EAE8FE;
    background-color: #EAE8FE;
  }

  ion-fab{
    ion-fab-button{
        --background: #EAE8FE;
        --color: #640CE3;
        --color-activated: #7210FF;
    }
}

ion-item{
    --background: white;
    --border-color: transparent;
    border-bottom: 1px solid #EBEFF3;

    .item-inner{
        border-bottom: 0 !important;
    }
}


input,ion-datetime{
    --ion-background-color: #EBEFF3;
    background-color: #EBEFF3;
    border-radius: 8px;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    --placeholder-color: #868A8F;
}

input{
    color: #080F18;
}

input::-webkit-input-placeholder {
    color:#868A8F;
}

input::-moz-placeholder {
    color:#868A8F;
}

input::-ms-placeholder {
    color:#868A8F;
}

input::placeholder {
    color:#868A8F;
}


ion-checkbox{
    --background-checked: #7210FF; 
    --background: transparent;
    --border-color: #7210FF;
    --border-color-checked: #7210FF;
    // --height: 24px;
    // --width: 24px;
    --size: 22px;
}

button{
    background: #7210FF;
    border-radius: 1000px !important;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 18px;
}
  
label{
    font-size: 15px;
    color: #868A8F;
}

.form{
    position: relative;
    .curve-top{
        top: 0px;
        background: white;
        height: 30px;
        border-radius: 24px 24px 0px 0px;
        z-index: 995;
        position: absolute;
        right: 0;
        left: 0;
    }

    border-radius: 0px 0px 24px 24px;

    background: #fff;
}