.form{
    position: relative;
    border-radius: 0px 0px 24px 24px;
    .curve-top{
        top: 15px;
        background: white;
        height: 15px;
        border-radius: 24px 24px 0px 0px;
        z-index: 1000;
        position: absolute;
        right: 0;
        left: 0;
    }

    background: #fff;
    
    // padding: 40px;
    padding-top: 20px;
    margin-top: -80px;

    input{
        margin-bottom: 20px;
        margin-top: 5px;
    }

    ion-checkbox{
        margin-top: 3px;
    }
}

ion-fab{
    ion-fab-button{
        --background: #EAE8FE;
        --color: #640CE3;
        --color-activated: #7210FF;
    }
}

ion-header{
margin-bottom: 50px;

    ion-toolbar{
        padding-top: 42px;
        padding-bottom: 42px;

        ion-icon{
            font-size: 26px;
        }

        h1{
            margin: 10px 0px; 
            font-size: 22px;
            font-weight: 600;
        }
        p{
            font-size: 15px;
        }
    }
}

ion-item{
    --background: white;
    --border-color: transparent;
    border-bottom: 1px solid #EBEFF3;
}

.item-inner{
    border-bottom: 0 !important;
}

input{
    --ion-background-color: #EBEFF3;
    background-color: #EBEFF3;
    border-radius: 8px;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #080F18;
}

input::-webkit-input-placeholder {
    color:#868A8F;
}

input::-moz-placeholder {
    color:#868A8F;
}

input::-ms-placeholder {
    color:#868A8F;
}

input::placeholder {
    color:#868A8F;
}

ion-checkbox{
    --background-checked: #7210FF; 
    --background: transparent;
    --border-color: #7210FF;
    --border-color-checked: #7210FF;
    // --height: 24px;
    // --width: 24px;
    --size: 22px;
}

button{
    background: #7210FF;
    border-radius: 1000px;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 18px;
}
  
label{
    font-size: 15px;
    line-height: 22px;
    color: #868A8F;
}

.medication-list{
    .medication-info{
        h2{
            font-size: 18px;
            // font-weight: 600;
        }
        
        aside{
            font-size: 12px;
            color: #640CE3;
        }
    }
}